*{
    padding: 0;
    margin: 0;
}

html{scroll-behavior: smooth}
/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: sticky;
    top: 0;
}
.navbar::before{
    content:  " ";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    font-size: 1.1rem
}
.navbar ul li a{
    padding: 5px 20px;
    text-decoration: none;
    color: white
}
.navbar ul li a:hover{
    border-bottom: 3px solid blue
}
/* home aection*/
#home{
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(./PicsArt_01-13-03.29.59.jpg) no-repeat center center/cover;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
#heading{
    color: white; font-size: 3rem; font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; transform: scale(1,1,3)
}
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: coral;
    color: white;
    text-align: center;
    font-size: 30px;
    
}
#portfolio h1{
    margin: 60px;
}
.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gallery img{
    width: 360px; height: 640px;
padding: 10px; margin: 10px
}
.gallery img:hover{
    background-color: purple;
    cursor: pointer;
}
#education{
    display: flex;
    flex-direction: column;
    background-color: skyblue;
}
#education h1{
    margin:60px
    ;text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
    color: purple;
}
.columns{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
}
.box{
    height: 200px;
    width: 500px;
    background-color: firebrick;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.box h2{
    color: darkorange;
    font-size: 2rem;
    margin-bottom: 40px;
}
.box p{
    color: white; font-size: 1.1rem;
}
#about{
    display: flex;
    flex-direction: column;
    height: 600px;
    background: url(./images\ \(1\).jpeg) no-repeat center center/cover;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
#about::before{
    background: url(./PicsArt_01-13-03.29.59.jpg) no-repeat center center/cover;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
#about h1{
    margin: 55px;
    text-align: center;
    color: white; font-size: 2rem
}
.about{
    display: flex;
}
.about img{
    width: 500px;
    height: 400px;
    padding:  0px 30px;
}
.name{
    padding: 10px;
}
.name h2{
    font-size: 2rem;
    color: white;
}
.name p{
    font-size: 3rem;
    color: white;
}
#contact{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
}
#contact  h1{
    margin: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
.input{
    padding: 15px 20px;
    margin: 15px;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 20px;

}
#Message{
    margin: 15px;
    padding: 10px;
    border-radius: 30px;
}
#submit{
    padding: 15px 20px;
    margin: 30px;
    width: 15%;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}
#submit:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}